*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #ebebeb;
}

p{
  line-height: 180%;
  letter-spacing: 0.5px;;
}
/*~~~~~~~~~~~ Nav Bar ~~~~~~~~~~~~~*/

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: black;
  color: white;
  border-bottom: 5px solid #44acb9 ;
}

.topnav .icon {
  display: none;
}

li{
    list-style: none;
    display: inline;
    padding: 25px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    font-size: 17px;

}

li:hover{
color:rgb(#44acb9); ;

}

li:visited{
    text-decoration: none;
}

a {
  color: #44acb9;
  text-decoration: none;
}
a:hover{
    color: #44acb9;
}

a:visited{
  text-decoration: none;
}

i{
    margin-right: 10px;
    cursor: pointer;
}

i:hover{
    transform: scale(1.3);
}


.links{
    color: #44acb9;
}

.links:hover{
    color: #44acb9;
    border-bottom: 1px solid #44acb9;
}

.header{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
}


h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

h2,h4,h5{
    font-weight: 100;
}

hr{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.hr-mid{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.hr-blog{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  
}
/*~~~~~~~~~~~ Containers ~~~~~~~~~~~~~*/
.content-container{
    display: grid;
    grid-template-areas: 'left-content right-content';
    width: 60%;
    margin: auto;
    grid-gap: 50px;
    text-align: left;

}

.featured-article, .another-article{
    margin-top: 2%;
    margin-bottom: 2%;
}

.another-article h3, p{
    margin-bottom: 10px;
}

img{
    height: 400px;
    width: 700px;
}
/*~~~~~~~~~~~ Video Gray, on hover color shows & transition~~~~~~~~~~~~~*/
  video{
    height: 400px;
    width: 700px;
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .3s ease-in-out;
}

  video:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
  }

  /*~~~~~~~~~~~ Button Anim CSS~~~~~~~~~~~~~*/

  .blog-btn {
    border-radius: 4px;
    border: 1px solid black;
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 10px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
    
  }
  
  .blog-btn:visited {
    text-decoration: none; 
  }
  .blog-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
 
  }
  
  .blog-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    color: #44acb9;
  }
  
  .blog-btn:hover span {
    padding-right:20px;
    color: #44acb9;

  }
  
  .blog-btn:hover span:after {
    opacity: 1;
    right: 0;
    color:#44acb9;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:Black;
    color: white;
    cursor: pointer;
    padding: 20px 10px 10px 20px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #44acb9;
  }
  .arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
/*~~~~~~~~~~~ Right Container ~~~~~~~~~~~~~*/
.right-content img{
    height: 200px;
    width: 200px;
    border-radius:50%;
    filter: grayscale(1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

.author-caption{
    text-align: center;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}


h5{
    margin-bottom: 10%;
}

.topics{
    margin-top: 10%;
    text-align: center;
    grid-area: topics;
}

.topics h5{
    background-color: black;
    color: #f2f2f2;
    padding: 10px;
}

.topics li{
    text-transform: none;
    display: block;
    padding: 5px;
    opacity: 0.8;
}

.popular-posts{
    margin-top: 10%;
    text-align: center;
    grid-area: popular-posts;
}

.popular-posts h5{
    background-color: black;
    color: #f2f2f2;
    padding: 10px;
}

.popular-posts img{
    height: 240px;
    width: 220px;
    border-radius: 0!important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

footer{
    margin-top: 3%;
    text-align: center;
    background-color: black;
    color: #f2f2f2;
    padding: 20px;
}

.featured-article{
    grid-area: featured-article;
}

.another-article{
    grid-area: another-article;
    padding-bottom: 200px;
}

.avatar-content{
    grid-area: avatar-content;
}

.avatar-content h5{
    background-color: black;
    color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

.avatar{
    filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .3s ease-in-out;
}

  .avatar:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1);
  }
  .figma-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.figma-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
/*~~~~~~~~~~~ Smaller Screen/Tablet Responsiveness ~~~~~~~~~~~~~*/
@media(max-width:1299px){

    .content-container{
        grid-template-areas: 'left-content''right-content';
        width: 65%;
        margin: auto;
    }
    hr{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
    }
    .right-content{
        display: grid;
        grid-template-areas: 'avatar-content' 'topics' 'popular-posts';
        grid-gap: 20px;
    }

    .topics{
        margin-top: 30px;
    }
    .right-line{
      display: none;
  }
}
/*~~~~~~~~~~~Mobile Responsiveness~~~~~~~~~~~~~*/
@media(max-width:700px){
    .content-container{
        grid-template-areas: 'left-content' 'right-content';
        width: 90%;
        margin: auto;
    }

    hr{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2%;
    }

    .blog{
      height: auto;
      width: 90%;
      display: block;
      margin: 15px;
      align-content: center;
      text-align: left;
  }

  .blog-btn{
    height: auto;
    width: 100%;

}

    .left-content img{
        display: block;
        height: auto;
        width: 100%;
        border: 1px solid gray;
    }
    .left-content video{
        height: auto;
        width: 90%;
        display: block;
        margin: auto;
    }
    .right-content{
        display: grid;
        grid-template-areas: 'avatar-content' 'topics' 'popular-posts';
        width:90%;
        margin: auto;
    }
 
    .right-line{
      display: none;
  }
    .topics{
        margin-top: 3%;
    }
    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    #myBtn {
      align-self: center;
      position: fixed;
      bottom: 10px;
      right: 10px;
      z-index: 99;
      border: none;
      outline: none;
      background-color:Black;
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 4px;
    }
}


/*~~~~~~~~~~~~~ Code for sticky Blog Week One, Two, Three etc~~~~~~~~~~~~~~*/

.category,
.right-footer {
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  height: 610px;
  
}

.category {
  top: 0;
}

.title {
  top: 0;
  font-size: 30px;;
  padding-right: 30px;
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;

}

.right-footer {
  bottom: 100px;
  z-index: -1;
}


article {
    margin-top: 500px;
    border-right: 1px solid black;
  background-image: linear-gradient(
    to bottom,
    transparent 50px,
    transparent 0
  );
  margin: auto auto 24px auto;
}



/*~~~~~~~~~~Slideshow Code ~~~~~~~~~~~~~~*/
@keyframes fade {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    position: relative;
  }
  
  .slide-container .slide {
    display: none;
    width: 100%;
  }
  
  .slide-container .slide.fade {
    animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  
  .slide-container .slide img {
    width: 100%;
  }

  .slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:#44acb9;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: black;
  color: #44acb9;
}

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #cecece;
}

.dots-container .dot.active {
  border: 2px solid #44acb9;
}